body {
	font-family: 'Arial', Times, Helvetica, sans-serif;
}
.jumbotron {
	width: 1440px;
	height: 680px;
	background-image: url(../images/ut.jpg);
	background-position: center;
	background-repeat: no-repeat;
}


.main-button-container {
	margin-top: 300px;
	max-width: 610px;
	margin-left: auto;
	margin-right: auto;
}

.answer {
	padding: 10px;
	background-color: #ccc;
	color: black;
	border-radius: 5px;
	height: 50px;
}

.answer:hover {
	background: #878282;
}

img {
	width: 630px;
	height: 420px;
}

.summary-correct {
	margin-top: 50px;
}

.reset-button {
	margin-top: 50px;
}
