body {
	font-family: 'Arial', Times, Helvetica, sans-serif;
	background: url(../images/ut.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
	background-color: rgba(0,0,0,0);
}


.main-button-container {
	margin-top: 300px;
	max-width: 610px;
	margin-left: auto;
	margin-right: auto;
}

.answer {
	padding: 10px;
	background-color: #ccc;
	color: black;
	border-radius: 5px;
	height: 50px;
}

.answer:hover {
	background: #878282;
}

img {
	width: 630px;
	height: 420px;
}

.summary-correct {
	margin-top: 50px;
}

.reset-button {
	margin-top: 50px;
}
